[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
/[Aa]ssets/StreamingAssets*
/[Aa]ssets/TempStreamingAssets*
/[Aa]ssets/_External
/[Aa]ssets/_TerrainAutoUpgrade
/[Aa]ssets/_Replays/*
/.vs/*
/UserSettings/*
/build/*
/out*

*.csproj
*.unityproj
*.sln
/*.suo
/*.user
*.userprefs
/*.pidb
.vst
.DS_Store
*.apk
.gradle
.idea